.board {
  display: grid;
  /* grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px); */
  gap: 5px;
}
.tile {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted #000000;
}
.tile.bush {
  background-color: green;
}
.tile.player {
  background-color: red;
}
button {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;

  cursor: pointer;
  font-size: 1rem;
  margin: 0.5rem;
}
button:hover {
  background-color: #0056b3;
}
